@charset "utf-8";

/* ==========================================================================
   pure CSSで定義した以外のスタイル
   ========================================================================== */

/* web fonts
   ========================================================================== */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* wrap
   ========================================================================== */
html,body{
  height: 100%;
  color: #555555;
  /*  font-size: 16px; <-ディフォルト */
}

p,li,dd{ line-height: 1.75;}

#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#main{
  height: 100%;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}





/* menu
   ========================================================================== */
.header{ border-bottom: 1px solid #efefef;}

.pure-skin-mine .pure-menu li{
  font-size: 95%;
}

/* CSSのみで階層メニュー */
.pure-skin-mine .pure-menu li:hover ul{
  left: -0.09375px;
  top: 2.3em;
  border: 1px solid #efefef;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  background-color: inherit;
  visibility: visible;
}
.ie7 .pure-skin-mine .pure-menu li:hover ul,
.ie8 .pure-skin-mine .pure-menu li:hover ul{
  top: 2.2em;
}

.pure-skin-mine .pure-menu li.pure-menu-selected ul a{ background: none;}
.pure-skin-mine .pure-menu li.pure-menu-selected ul a:hover{ background: inherit;}

.pure-skin-mine .pure-menu li a i:before{
  padding-left: 0.5em;
  font-size: 80%;
}





/* footer
   ========================================================================== */
.footer{
  position: relative;
  height: 30px;
  background: #232323;
  font-size: 80%;
  text-align: center;
  line-height: 30px;
}

#pagetop{
  position: absolute;
  top: -29px;
  right: .5em;
  height: 28px;
  padding: 0 1em;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  border-bottom: none;
  background: #F5F5F5;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#pagetop:hover{ color: #129FEA;}





/* Layout
   ========================================================================== */
.content{
  position: relative;
  min-width: 850px;
  max-width: 1020px;
  margin: 0 auto 1em;
  padding-bottom: 1em;
}

.pure-g{ letter-spacing: -.4em;}
.pure-g:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* IE7 */
*:first-child+html .pure-g { zoom: 1; }





/* Head-line
   ========================================================================== */
.content-subhead{
  display: inline-block;
  margin: 0 0 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eeeeee;
  color: #888888;
}

.content-subhead2{
  padding-bottom: .25em;
  border-bottom: 3px double #dddddd;
  font-weight: normal;
}





/* Form
   ========================================================================== */
.pure-form select{ margin: 1em 0;}

/* エラー時の入力エリア・文言を強調 */
.error h3{
  padding: .5em;
  background: #f2dada;
  color: #d60000;
}

.pure-form-aligned .pure-control-set label,
.pure-form-aligned .pure-control-set input{
  text-align: left;
}

/* 横並びフォームの位置調整 */
.pure-form-aligned .pure-control-group p{
  margin: 0 0 0 11.5em;
}
.pure-form-aligned .pure-control-group h3{
  display: inline-block;
  width: 10em;
  margin: 0 1em 0 0;
  padding-right: 1em;
  font-size: 90%;
  font-weight: normal;
  text-align: right;
  vertical-align: middle;
  *display: inline;
  *zoom: 1
}

/* チェックボックスの縦方向位置そろえ */
.pure-form-aligned .pure-control-group label{
  padding-left: 1em;
  text-indent: -1.2em;
  text-align: left;
}

/* チェックボックス・ラジオボタン詰めすぎを調整 */
.pure-skin-mine .pure-form input[type="checkbox"],
.pure-skin-mine .pure-form input[type="radio"]{
  margin-right: 0.25em;
}

/* ie7で横幅いっぱいの入力エリアがはみ出る現象を回避 */
.ie7 .pure-skin-mine .pure-form .pure-input-1{ width: 90%;}

/* 重要なテキスト */
.text-primary{ color: #d60000;}





/* button
   ========================================================================== */
.pure-button{ border-bottom: 2px solid rgba(0,0,0,0.2) !important;}
.pure-button:active{
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: none rgba(0,0,0,0) !important;
}

/* 大変なボタン */
.pure-button-error{
  background: rgb(202, 60, 60);
  color: #ffffff;
}





/* Tab
   ========================================================================== */
/* タブのきりかえ部分 */
.tab-head{
  padding-left: .5em;
  border-bottom: 3px solid #CBCBCB;
  list-style-type: none;
}

/* 横並びのfloat解除 */
.tab-head:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* IE7 */
*:first-child+html .tab-head { zoom: 1; }

.tab-head li{
  float: left;
  margin: 0 0.5em -3px 0;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  background: #F5F5F5;
}

.tab-head li a{
  display: block;
  padding: 5px 1.25em;
  color: #555555;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.tab-head li a:hover{ color: #129FEA;}

/* タブ選択時 */
.tab-head li.active{
  border-bottom: 3px solid #ffffff;
  background: #ffffff;
  pointer-events: none;
}

.tab-head li.active a i:before{
  color: #c6c6c6;
}





/* accordion
   ========================================================================== */
/* 常に表示されている見出し */
.accordion-head{
  margin-top: 3em;
  cursor: pointer;
}

/* 隠れているコンテンツ領域 */
.accordion-area{
  display: none;
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}

.accordion-area p{ margin-bottom: 0;}

/* 開閉時の変化 */
.accordion-open .accordion-icon:before,
.accordion-close .accordion-icon:before{
  margin-left: -.5em;
  padding-right: 0.5em;
  font-size: 65%;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  content: "\f0de";
}

.accordion-close .accordion-icon:before{ content: "\f0dd";}

.accordion-open i:first-child.accordion-icon:before,
.accordion-close i:first-child.accordion-icon:before{
  margin-left: .5em;
}

h2.accordion-open.content-subhead2{
  border-bottom: 1px solid #dddddd;
}

.accordion-open:after,
.accordion-close:after{
  display: block;
  margin-top: -1em;
  text-align: right;
  content: "(閉じる)";
}

.accordion-close:after{ content: "(表示する)";}





/* テーブル
   ========================================================================== */
.pure-table{
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table:not(:target){
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
}

.ie7 .pure-table,
.ie8 .pure-table{
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
}

.pure-table th{
  position: relative;
  vertical-align: middle;
}

.pure-table label{ text-align: center;}

/* テーブルソート */
.sorting:after,
.sorting_asc:after,
.sorting_desc:after{
  display: inline-block;
  float: right;
  position: relative;
  top: 0;
  font-family: 'icomoon';
  font-weight: normal;
}

/* ソート可 */
.sorting:after{ content: "\f0dc";}
/* ソート昇順 */
.sorting_asc:after{ content: "\f0de";}
/* ソート降順 */
.sorting_desc:after{ content: "\f0dd";}





/* Paginators
   ========================================================================== */
.pure-skin-mine .pure-paginator{
  margin-top: 2em;
  text-align: center;
}

/* 現在地の色 */
.pure-button-active{ background: #ffffff;}





/* loading
   ========================================================================== */
.loading i{
  display: inline-block;
  -webkit-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
  z-index: 9999;
}

.loading i:before{
  padding-right: 0;
}

@-webkit-keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
}





/* Pop up
   ========================================================================== */
/* 背景 */
#grayLayer{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  filter: alpha(opacity=50);
  background: rgba(0,0,0,0.5);
  z-index: 98;
}

/* ポップアップエリア */
#overLayer{
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: #FFF;
  text-align: center;
  z-index: 99;
}

.pop-contents{
  display: none;
}





/* Utility
   ========================================================================== */
/* display */
.dis-ib{ display: inline-block !important;}
.ie7 .dis-ib{
  *display: inline;
  *zoom: 1;
}
.dis-b{ display: block !important;}
.dis-n{ display: none;}

/* float */
.fl{ float: left !important;}
.fr{ float: right !important;}
.fn{ float: none !important;}

.ie7 .fl,
.ie7 .fr{
  display: block;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* IE7 */
*:first-child+html .clearfix { zoom: 1; }

/* width */
.size-1{ width:2em}
.size-2{ width:4em}
.size-3{ width:6em}
.size-4{ width:8em}
.size-5{ width:10em}
.size-8{ width:16em}
.size-10{ width:20em}
.size-15{ width:30em}
.size-18{ width:36em}
.size-auto{ width: auto;}

.pure-u-3-10,
.pure-u-12-25{
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 30%;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.ie7 .pure-u-1-3{ width: 29.5%;}
.pure-u-12-25{ width: 48%;}

/* margin */
.m0{ margin: 0 !important;}
.mt0{ margin-top: 0 !important;}
.mt025{ margin-top: .25em !important;}
.mt1{ margin-top: 1em !important;}
.mt2{ margin-top: 2em !important;}
.mt5{ margin-top: 5em !important;}
.ml10{ margin-left: 10px !important;}
.mb2{ margin-bottom: 2em !important;}
.mr10{ margin-right: 10px !important;}

/* 角丸枠線 */
.br5bd{
  padding: 0 1em;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* text-align */
.tac{ text-align: center;}
.tar{ text-align: right;}

/* vertical-align */
.vat{ vertical-align: top !important;}
.vam{ vertical-align: middle !important;}

/* cursor*/
.cup{ cursor: pointer;}


/* 絶対中央配置 */
.poa-0000{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}





/* Font-size
   ========================================================================== */
/* ページ全体 */
.basefs-12{ font-size: 12px;}
.basefs-12 p,
.basefs-12 li,
.basefs-12 dd{
  line-height: 2.33;
}

.basefs-14{ font-size: 14px;}
.basefs-14 p,
.basefs-14 li,
.basefs-14 dd{
  line-height: 2;
}

.basefs-18{ font-size: 18px;}
.basefs-18 p,
.basefs-18 li,
.basefs-18 dd{
  line-height: 1;
}


/*  font-size: 14px;
  line-height: 2;*/
/*  font-size: 12px;
  */

/* 大見出し */
.fs-300{
  font-size: 300%;
  line-height: 1.2;
}

.fs-65{
  font-size: 65%!important;
  line-height: 1.46;
}
.fs-80{ font-size: 80%!important;}





/* iconfont
   ========================================================================== */
i:before{
  padding-right: 0.5em;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
}

.icon-log:before{ content: "\e00c";}
.icon-warning:before{ content: "\e00a";}
.icon-link:before{ content: "\e00e";}
.icon-list:before{ content: "\e013";}
.icon-search:before{ content: "\e009";}
.icon-plus:before{ content: "\e004";}
.icon-pencil:before{ content: "\e019";}
.icon-cog:before{ content: "\e00d";}
.icon-user:before{ content: "\e020";}
.icon-cart:before{ content: "\e00b";}
.icon-grin:before{ content: "\e014";}
.icon-close:before{ content: "\e006";}
.icon-down:before{ content: "\e003";}
.icon-spinner:before{ content: "\e010";}
.icon-backward:before{ content: "\e00f";}
.icon-forward:before{ content: "\e001";}
.icon-trashcan:before{ content: "\e008";}
.icon-checkmark:before{ content: "\e002";}
.icon-plus:before{ content: "\e004";}
.icon-munis:before{ content: "\e005";}
.icon-tag:before{ content: "\e007";}
.icon-file-add:before{ content: "\e015";}
.icon-envelope:before{ content: "\e016";}
.icon-camera:before{ content: "\e017";}
.icon-pencil-2:before{ content: "\e01b";}
.icon-calendar:before{ content: "\e01f";}
.icon-upload:before{ content: "\e01d";}
.icon-download:before{ content: "\e01e";}
.icon-move:before{ content: "\e000";}
.icon-heart:before{ content: "\e01a";}
.icon-pacman:before{ content: "\e01c";}
.icon-book:before{ content: "\e018";}
.icon-arrow-up:before{ content: "\e011";}
.icon-loading:before{ content: "\e012";}
.icon-picture:before{ content: "\f03e";}
.icon-male:before{ content: "\f183";}
.icon-female:before{ content: "\f182";}
.icon-pin:before{ content: "\f08d";}
.icon-cross:before{ content: "\e021";}

.pure-button i,
#pagetop i{
  opacity: .5;
}